nav {

background-color: #007bff;
padding: 10px 20px;
color: white;
display: flex;
align-items: center;
justify-content: space-between;
}

nav h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

.nav-link {
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.nav-link:hover {
    text-decoration: underline;
}