.gift-table-container {

max-width: 800px;
margin: auto;
padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #7c4dff;
    color: white;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}